/* Algemene opmaak voor de container */
div {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

/* Stijl voor de titel */
h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Stijl voor de tekstarea */
textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  transition: border-color 0.3s ease;
}

textarea:focus {
  border-color: #007bff;
  outline: none;
}

.container-buttons{
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

/* Stijl voor de knop */
button {
  width: 280px;
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Stijl voor de gegenereerde tekst */
p {
  margin-top: 20px;
  font-size: 16px;
  color: white;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: black;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
